<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <staticContent>


    </staticContent>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>

    <compilation targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>

    <httpRuntime targetFramework="4.8" maxRequestLength="4096" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <!--  <add namespace="System.Web.Optimization" /> -->
      </namespaces>
    </pages>
    <!-- <globalization culture="pt-BR" uiCulture="pt-BR" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" fileEncoding="utf-8" />

  </system.web>
  <appSettings file="appSettings.secret.config">
    <!-- Configurações de email -->
    <add key="SmtpPort" value="587" />
    <add key="EmailTo" value="contato@dzutchaoz.com.br" />
    <add key="EmailFrom" value="site@dzutchaoz.com.br" />
    <add key="EnableSsl" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  </appSettings>
</configuration>